* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 63.5%;
}

/*HEADER*/
.i-header {
    width: 100vw;
    height: 200px;
    background-color: #20063B;
    color: #9AD1D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.i-header__title{
    font-size: 5rem;
}

.i-header-nav-ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.i-header-nav-ul li{
    margin: 6px 10px;
    list-style: none;   
}
.i-header-nav-ul a{
    text-decoration: none;
    color: #CC3363;
}
.i-header-nav-ul a:hover{
    text-decoration: underline;
}


.header {
    background-color: #20063B;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header_main-title{
    font-size: 3rem;
    color: #9AD1D4;
    font-family: 'Rampart One', cursive;
}

.main {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #62C370;
}
.main-section{
    background-color: #CC3363;
    width: 80%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.main-section__h1{
    color: #20063B;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rampart One', cursive;
}
.main-section__p{
    color: #C2F9BB;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
}
.parrafoDeJS{
    color: #C2F9BB;
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 600px){
    .main-section{
        width: 35vw;
    }
}
